<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
     body{
    background-image:url("/static/test_1.jpg");
    background-size:cover;
    }
    #title{
    color:#FFFFFF;
    }
    #eg_text{
    color:#FFFFFF;}
    #h4{
    color:#FFFFFF;
    }
    .list-group{
    color:#FFFFFF;}
    </style>
</head>
<body>

 <center><h2 id="title" style="font-family:verdana;">VOICE BASED CUSTOMER GRIEVANCE REDRESSAL SYSTEM</h2></center>
 <center><h2 id="eg_text" style="font-family:verdana;">Can you tell us your query?</h2>
     <a href="{{url_for('input')}}"  style="font-size:20px;">CLICK HERE TO TELL US YOUR QUERY</a></center>
 <br>
 <font style="bottom:0; position: fixed;" size="5" id="h4">4horsemen.in</font>

 <div style="position:fixed; right:0;">
     <font size="5" color="#FFFFFF">Available support teams are:   </font>
 <br>
 <ul class="list-group">
  <li class="list-group-item active">DEBT COLLECTION</li>
     <br>
  <li class="list-group-item">MORTGAGE</li>
     <br>
  <li class="list-group-item">CREDIT REPORTING</li>
<br>
  <li class="list-group-item">CREDIT CARD</li>
  <br>
     <li class="list-group-item">BANK ACCOUNT OR SERVICE</li>
     <br>
     <li class="list-group-item">STUDENT LOAN</li>
     <br>
              <li class="list-group-item">CONSUMER LOAN</li>
     <br>
              <li class="list-group-item">PAYDAY LOAN</li>
     <br>
              <li class="list-group-item">MONEY TRANSFERS</li>
</ul>
 </div>
</body>
</html>