<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Classification</title>
    <link rel="stylesheet" href="1.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<style>
body{
    background-image:url("/static/test_1.jpg");
    background-size:cover;

    }
    .container-fluid{
     background-color: #707B7C;
     color: #FFFFFF ;
     }
     #title{
     color:#241C1C;
     }
</style>
</head>

<body bgcolor="#FEF9E7 ">
<font color="#FFFFFF" style="bottom:0; position: fixed;" size="5" id="h4">4horsemen.in</font>
    <!-- <center class="container-fluid", id="container_eg"><h2 id="title" style="font-family:verdana;">VOICE BASED CUSTOMER GRIEVANCE REDRESSAL SYSTEM</h2></center> -->
     <div class="container-fluid"><center>
        <font color="#FFFFFF" size="8">Thank you for your input!</font>
         <br>
        <font color="#FFFFFF" size="8">Your grievance is: </font>
         <br>
         <font size="8" color="#BB1807">{{text}}</font>
         <br>
        <font color="#FFFFFF" size="8" >It will be redirected to the following department:</font>
         <br>
         <font style="font-weight: bold;" size="10" color="#BB1807">{{dept}}</font>
        </center>
    </div>
</body>


</html>
